# `This notebook will contain all spark code for our project`

## Imports

In [ ]:
from pyspark.sql import SparkSession, Row
from pyspark.sql.functions import col, year, month, to_date, min, max, avg, first, lag, round
from pyspark.sql.window import Window
import happybase

## Prepare data

`COMTRADE`

`NARODOWY BANK POLSKI`

In [ ]:
spark = SparkSession.builder.appName("ReadCurrencyParquet").getOrCreate()

df = spark.read.parquet("hdfs:///user/vagrant/data/currency_all.parquet")

df = df.withColumn("date", to_date(col("date"), "yyyy-MM-dd")) \
        .withColumn("year", year(col("date"))) \
        .withColumn("month", month(col("date")))

yearly_agg = (df.groupBy("currency", "year").agg(min("rate").alias("min_rate"),
                                                 max("rate").alias("max_rate"),
                                                 avg("rate").alias("avg_rate")
                                                ).orderBy("currency", "year"))

monthly_agg = (df.groupBy("currency","year", "month").agg(min("rate").alias("min_rate"),
                                                          max("rate").alias("max_rate"),
                                                          avg("rate").alias("avg_rate")
                                                    ).orderBy("currency","year", "month"))

monthly_agg.show(10)
monthly_agg.printSchema()

spark.stop()

In [ ]:
spark = SparkSession.builder.appName("DimCurrencyCorrect").getOrCreate()

data = [
    Row(country_iso3="USA", currency="USD"),
    Row(country_iso3="GBR", currency="GBP"),
    Row(country_iso3="NOR", currency="NOK"),
    Row(country_iso3="SWE", currency="SEK"),
    Row(country_iso3="DNK", currency="DKK"),
    Row(country_iso3="DEU", currency="EUR"),
    Row(country_iso3="FRA", currency="EUR"),
    Row(country_iso3="ESP", currency="EUR"),
    Row(country_iso3="ITA", currency="EUR"),
    Row(country_iso3="CZE", currency="CZK"),
    Row(country_iso3="HUN", currency="HUF"),
    Row(country_iso3="NZL", currency="NZD"),
    Row(country_iso3="AUS", currency="AUD"),
    Row(country_iso3="CAN", currency="CAD"),
    Row(country_iso3="JPN", currency="JPY"),
    Row(country_iso3="CHN", currency="CNY"),
    Row(country_iso3="THA", currency="THB"),
    Row(country_iso3="SGP", currency="SGD"),
    Row(country_iso3="ZAF", currency="ZAR"),
    Row(country_iso3="BRA", currency="BRL"),
    Row(country_iso3="IND", currency="INR"),
    Row(country_iso3="PHL", currency="PHP"),
    Row(country_iso3="MYS", currency="MYR"),
    Row(country_iso3="IDN", currency="IDR"),
    Row(country_iso3="KOR", currency="KRW"),
    Row(country_iso3="ROU", currency="RON"),
    Row(country_iso3="IRL", currency="EUR"),
    Row(country_iso3="BEL", currency="EUR"),
    Row(country_iso3="NLD", currency="EUR"),
    Row(country_iso3="EST", currency="EUR"),
    Row(country_iso3="AUT", currency="EUR"),
    Row(country_iso3="SVN", currency="EUR"),
    Row(country_iso3="SVK", currency="EUR"),
    Row(country_iso3="LVA", currency="EUR"),
    Row(country_iso3="LTU", currency="EUR"),
    Row(country_iso3="CYP", currency="EUR"),
    Row(country_iso3="BGR", currency="BGN"),

    Row(country_iso3="X1", currency=None),
    Row(country_iso3="_X", currency=None),
    Row(country_iso3="W00", currency=None),
    Row(country_iso3="XX", currency=None),
    Row(country_iso3="E19", currency=None),
    Row(country_iso3="S19", currency=None)
]

df_dim_currency = spark.createDataFrame(data)
df_dim_currency.show(truncate=False)
df_dim_currency.write.mode("overwrite").parquet("hdfs:///user/vagrant/dim/dim_currency_country.parquet")

spark.stop()

`WORLD DEVELOPMENT INDICATORS`

In [4]:
from pyspark.sql import SparkSession, Row
from pyspark.sql.functions import col, first, lag, round
from pyspark.sql.window import Window

spark = SparkSession.builder \
    .appName("PrepareWDIData") \
    .master("local[*]") \
    .getOrCreate()

input_path = "hdfs://localhost:8020/user/vagrant/project/WDI/*.parquet"

# Load data and map types
df = spark.read.parquet(input_path) \
    .withColumn("value", col("value").cast("double")) \
    .withColumn("year", col("year").cast("integer"))

# Pivot table
pivoted_df = df.groupBy("country_id", "country_name", "year") \
    .pivot("indicator_name") \
    .agg(first("value"))

# Renaming columns
rename_map = {
    "External debt stocks, total (DOD, current US$)": "external_debt",
    "GDP (current US$)": "gdp",
    "Imports of goods and services (current US$)": "import",
    "Industry (including construction), value added (% of GDP)": "industry_in_gdp",
    "Inflation, consumer prices (annual %)": "inflation",
    "Population, total": "population",
    "Services, value added (% of GDP)": "services_in_gdp",
    "Trade (% of GDP)": "trade_in_gdp"
}

for old_name, new_name in rename_map.items():
    pivoted_df = pivoted_df.withColumnRenamed(old_name, new_name)

# Calculate new indicators
# window_spec = Window.partitionBy("country_id").orderBy("year")

final_df = pivoted_df \
    .withColumn("gdp_per_capita", round(col("gdp") / col("population"), 2)) \
        .drop("indicator_name")
    # .withColumn("prev_year_gdp", lag("gdp").over(window_spec)) \
    # .withColumn("gdp_growth", round(((col("gdp") - col("prev_year_gdp")) / col("prev_year_gdp")) * 100, 2)) \
        # .drop("prev_year_gdp") \



final_df = final_df.orderBy("country_name", "year")
final_df.printSchema()
print("DataFrame count:", final_df.count())
poland_df = final_df.filter(col("country_name") == "Poland")
poland_df.show(15)

root
 |-- country_id: string (nullable = true)
 |-- country_name: string (nullable = true)
 |-- year: integer (nullable = true)
 |-- external_debt: double (nullable = true)
 |-- gdp: double (nullable = true)
 |-- import: double (nullable = true)
 |-- industry_in_gdp: double (nullable = true)
 |-- inflation: double (nullable = true)
 |-- population: double (nullable = true)
 |-- services_in_gdp: double (nullable = true)
 |-- trade_in_gdp: double (nullable = true)
 |-- gdp_per_capita: double (nullable = true)

DataFrame count: 5587

+----------+------------+----+-------------+-------------------+-------------------+----------------+------------------+-----------+----------------+----------------+--------------+
|country_id|country_name|year|external_debt|                gdp|             import| industry_in_gdp|         inflation| population| services_in_gdp|    trade_in_gdp|gdp_per_capita|
+----------+------------+----+-------------+-------------------+-------------------+----------------+------------------+-----------+----------------+----------------+--------------+
|        PL|      Poland|2003|         null| 2.1856122599847E11|7.86269228544063E10|27.5111441045363| 0.682701375787681| 3.820457E7|57.9482847667238|69.2134479841788|       5720.81|
|        PL|      Poland|2004|         null|2.56268656145134E11|9.46128680718343E10| 29.185278751871|  3.38264681884691|3.8182222E7|55.9833742114646|70.9815765694162|       6711.73|
|        PL|      Poland|2005|         null|3.06999913150525E11|1.09863040541397E11| 29.058898029081|  2.18379872390258|3.8165445E7|55.8857255613399|70.3114790902584|       8043.92|
|        PL|      Poland|2006|         null|3.45897630736173E11|1.38506966129343E11|29.2021893560033|  1.28469394366408|3.8141267E7|55.7400722021661|77.7008035402352|       9068.86|
|        PL|      Poland|2007|         null|4.29715132137503E11|1.81658989504868E11|29.2754512665731|  2.45874312385402| 3.812056E7|54.9294199742734| 80.745399056691|      11272.53|
|        PL|      Poland|2008|         null|5.35612030671888E11|2.29809209701641E11|28.8165316846699|  4.16497193524764|3.8125759E7|55.8299281086221|80.5746815569207|      14048.56|
|        PL|      Poland|2009|         null|4.40891472247096E11| 1.6738244605534E11|29.9613126651954|  3.79539242483406|3.8151603E7|56.2042941342382|74.9685965264269|       11556.3|
|        PL|      Poland|2010|         null|4.78111630683514E11|2.02402082711505E11|29.6974993930566|  2.58069370250543|3.8042794E7|55.3297957201817|82.2258523219922|      12567.73|
|        PL|      Poland|2011|         null|5.27848543023469E11| 2.3544947293955E11|30.3941659979475|   4.2394014962594|3.8063255E7| 54.294328089083|86.9236892837618|      13867.67|
|        PL|      Poland|2012|         null| 4.9814864970266E11|2.23205473781698E11|30.2281657114043|  3.56037151702783|3.8063164E7|55.3349007114845|88.8299033066583|      13087.42|
|        PL|      Poland|2013|         null| 5.1817983640536E11|2.31368432176376E11|28.6768333488015| 0.991982606332428|3.8040196E7|56.7410646685001|90.4175072415629|       13621.9|
|        PL|      Poland|2014|         null|5.42134167178627E11|2.48369810894894E11|29.9351239778153|0.0538213132399802|3.8011735E7|55.7052599572561|92.0340197113178|      14262.28|
|        PL|      Poland|2015|         null|4.80054118583367E11| 2.1647459875315E11|30.9939300295541| -0.87412587412577|3.7986412E7| 55.299619134775|92.2554272741942|      12637.52|
|        PL|      Poland|2016|         null|4.73259583969643E11|2.22240211020322E11|30.6734871058329|-0.664767331433961|3.7970087E7|55.0625951252974|96.8659028060623|      12464.01|
|        PL|      Poland|2017|         null|5.28356676667211E11|2.58225701184144E11|28.8090759581658|   2.0759355367385|3.7974826E7|56.0708540911722| 100.56589524628|      13913.34|
+----------+------------+----+-------------+-------------------+-------------------+----------------+------------------+-----------+----------------+----------------+--------------+
only showing top 15 rows

## Views